*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
overflow-y: hidden;
overflow-x: hidden;
}

.button{
    height: 50px;
    width: 50px;
}
.button2{
    height: 50px;
    width: 150px;
}
#input-calroies-span{
    position: relative;
    left: 4em;
}
#submitInfo{
    position: relative;
    left: 45em;
}
#submitMeal{
    position: relative;
    left: 14em;
}
#tooltip{
    position: relative;
    bottom:39em;
    left:27.6em;
}
#Summary{
   text-align: center;
   font-size:2em
}
#BMI{
    margin: auto;
}
#mealToDatabase{
    margin: auto;
    text-align: center;
}

#box {
    height: 100px;
    width: 1000px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);
}
#box2 {
    height: 100px;
    width: 650px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);

    position: relative;
    bottom:12.5em;
    left: 70em;
}
#box3 {
    height: 400px;
    width: 1000px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);

    position: relative;
    bottom:15em;
}
#box4 {
    height: 400px;
    width: 650px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);

    position: relative;
    bottom:46.2em;
    left:70em;
}
#box5 {
    height: 150px;
    width: 925px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(139, 134, 134);

    position: absolute;
    right: -.5cm;
    top:11em;
 
}
#btn1{
    text-align: center;

    height: 100px;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);

    position: relative;
    bottom:60em;
    left:5em;
}
#btn2{
    text-align: center;

    height: 100px;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border: 5px solid black;
    background-color: rgb(223, 214, 214);

    position: relative;
    bottom:60em;
    left:50em;
    
}

.header {
    text-align: center
}